@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

/* @keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}

/* Infinite Scroll Animation */
@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Carousel animation with different speeds for mobile and desktop */
.animate-infinite-scroll {
  display: flex;
  animation: infinite-scroll 30s linear infinite;
}

/* Slow down animation on smaller screens for smoother experience */
@media (max-width: 768px) {
  .animate-infinite-scroll {
    animation-duration: 20s;
  }
}



/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
